{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block body_class %} template-blogindexpage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">

{% endblock %}

{% block content %}

<div class="container">
    <h1>{{page.title}}</h1><br>

    <hr>
    <p><a href="?decada=90">Década de los 90</a></p>
    <p><a href="?genero=drama">Drama</a></p>

    <p>Listado de las mejores 250 peliculas según IMDB</p>
    <hr>

    <table id="peliculas" class="peliculas" style="width: 100%">
        <thead>
            <tr>
                <td>Título</td>
                <td>Año</td>
                <td>Posición</td>
                <td>Género</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for pelis in peliculas %}
            <tr>
                <td>{{pelis.title}}</td>
                <td>{{pelis.year}}</td>
                <td>{{pelis.place}}</td>
                <td>{{pelis.generos_str}}</td>
                <td><img src="{{pelis.imagen}}" alt="{{pelis.title}}"></td>
            </tr>
            {% endfor %}
        </table>
        </tbody>
<div class="container">

    {% if peliculas.paginator.count > 1 %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% include "includes/pagination.html" with subpages=peliculas %}
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="//code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/i18n/es_es.json"></script>

<script>
    $(document).ready(function (){
        $('#peliculas').DataTable({
            languaje: {
                url:'//cdn.datatables.net/plug-ins/1.11.4/i18n/es_es.json'
            }


        });

    });
</script>
{% endblock %}