{% load static wagtailcore_tags wagtailuserbar navigation_tags %}

<!DOCTYPE html>
<html class="no-js" lang="es">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
        
        <link  rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css"  crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{% static 'css/blogclase.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
            integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
            crossorigin=""/>
            <style>
                #map { height: 400px ;}
                
            </style>
            


        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <!--MENU-->
        {% include 'components/navbar.html' %}
        <div class="d-flex">
          {% include 'components/sidebar.html' %}
          {% block content %}{% endblock %}
        </div>
        
        <div id="map" style="margin:auto;width: 800px;;"></div>
        
    

        {% get_footer_text %}
       

        {# Global javascript #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        <script type="text/javascript" src="{% static 'js/blogclase.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
            
        <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
 integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
 crossorigin=""></script>
 
<script>
  var mimapa = L.map('map').setView([41.6447628,-0.9253785], 13);

  L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
  attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
  maxZoom: 18
  }).addTo(mimapa);

  L.marker([41.6447628,-0.9253785]).addTo(mimapa).bindPopup("CPI Los Enlaces, Aquí nos encontramos");

  var circle = L.circle([41.6447628, -0.9253785], {
  color: 'red',
  fillColor: '#f03',
  fillOpacity: 0.5,
  radius: 500
}).addTo(mimapa);
</script>

    {% endblock %}
       
</body>
</html>
